<!DOCTYPE html>
<html>
  <head>
    <title>Film Faves</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <%= link_to "Film Faves", root_path, class: "navbar-brand", style: "font-size: 24px;" %>
    </div>
    </nav>

    <%= yield %>
  </body>
</html>
